# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
#*.exe
*.out
*.app
/X64/


*.DS_Store

/cmake-build-debug/
/cmake-build-release/
/linux/
/.vs/
/.vscode/
/.idea/
/c_wrapper/.idea/
/release/
/Android/.idea/
/Android/app/src/main/cpp/libs_export/
/3rdpart/media-server/.idea/
/3rdpart/media-server/.idea/
/build/
/3rdpart/media-server/.idea/
/ios/
/cmake-build-*
/3rdpart/ZLToolKit/cmake-build-mq/
out
deps
deps/*
deps/gyp/pylib/gyp/*.pyc
*.log
mediasoup-worker.vcxproj.user
UML/mediasoup.oob
old_scripts/package.json
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsVbcm.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtp.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtpNack.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtpSrReq.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtpTllei.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtpTmmb.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtpTransport.cpp
fuzzer/src/RTC/RTCP/FuzzerPacket.cpp
fuzzer/src/RTC/RTCP/FuzzerReceiverReport.cpp
fuzzer/src/RTC/RTCP/FuzzerSdes.cpp
fuzzer/src/RTC/RTCP/FuzzerSenderReport.cpp
fuzzer/src/RTC/RTCP/FuzzerXr.cpp
old_scripts/clang-tidy.py
old_scripts/configure.py
old_scripts/configure.pyc
old_scripts/cppcheck.sh
old_scripts/cpu_cores.sh
old_scripts/flint++.sh
old_scripts/get-dep.sh
old_scripts/gulpfile.js
old_scripts/lcov.sh
fuzzer/src/fuzzer.cpp
fuzzer/src/FuzzerUtils.cpp
fuzzer/src/RTC/FuzzerRtpPacket.cpp
fuzzer/src/RTC/FuzzerStunPacket.cpp
fuzzer/src/RTC/FuzzerTrendCalculator.cpp
fuzzer/src/RTC/RTCP/FuzzerBye.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPs.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsAfb.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsFir.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsLei.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsPli.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsRemb.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsRpsi.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsSli.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackPsTst.cpp
fuzzer/src/RTC/RTCP/FuzzerFeedbackRtpEcn.cpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtpEcn.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtpNack.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtpSrReq.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtpTllei.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtpTmmb.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtpTransport.hpp
fuzzer/include/RTC/RTCP/FuzzerPacket.hpp
fuzzer/include/RTC/RTCP/FuzzerReceiverReport.hpp
fuzzer/include/RTC/RTCP/FuzzerSdes.hpp
fuzzer/include/RTC/RTCP/FuzzerSenderReport.hpp
fuzzer/include/RTC/RTCP/FuzzerXr.hpp
fuzzer/new-corpus/.placeholder
fuzzer/reports/.placeholder
fuzzer/reports/crash-058a4c1cc23eb6852d2d239a5596b10c572faa7b
fuzzer/reports/crash-082d8c1a727f57b415a81ea68d8dd0c21804a4a1
fuzzer/reports/crash-572450c78229fbb005891235ad020c4374d44f82
fuzzer/reports/crash-6cfd7698f02bb829e64f926e2d8ce86596562843
fuzzer/reports/crash-732ced16c38f8a29b621a590e243782f2102e771
fuzzer/reports/crash-9401450d2dad5c11b31f93d7c69660e28ae6a1d6
fuzzer/reports/crash-ac5d03e5d918b7f714c0452a59ad9c0e1ca3e501
fuzzer/reports/crash-c079dea0539424a1e986de88801b6a11005509c6
fuzzer/reports/crash-cb8c8802d60e3501cbf36d5e88b6882b8dfb76c9
fuzzer/reports/crash-da39a3ee5e6b4b0d3255bfef95601890afd80709
fuzzer/reports/crash-dcfd05592934ab472c98a1813256aabb9bb43bfb
fuzzer/reports/crash-ddfab2c0dd845e8d3e8f8d27e1f4cb49d92d279a
worker.7z
Debug/netstring.pdb
fuzzer/include/FuzzerUtils.hpp
fuzzer/include/RTC/FuzzerRtpPacket.hpp
fuzzer/include/RTC/FuzzerStunPacket.hpp
fuzzer/include/RTC/FuzzerTrendCalculator.hpp
fuzzer/include/RTC/RTCP/FuzzerBye.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPs.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsAfb.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsFir.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsLei.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsPli.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsRemb.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsRpsi.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsSli.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsTst.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackPsVbcm.hpp
fuzzer/include/RTC/RTCP/FuzzerFeedbackRtp.hpp
